[submodule "CFDEMcoupling-PFM"]
	path = CFDEMcoupling-PFM
	url = git@github.com:CFDEMproject/CFDEMcoupling-PFM.git
[submodule "LIGGGHTS-PFM"]
	path = LIGGGHTS-PFM
	url = git@github.com:CFDEMproject/LIGGGHTS-PFM.git
[submodule "LPP"]
	path = LPP
	url = git@github.com:CFDEMproject/LPP.git
[submodule "ThirdParty-2.3.x/ParaView-4.2.0"]
	path = ThirdParty-2.3.x/ParaView-4.2.0
	url = git@github.com:Kitware/ParaView.git
